body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 420px;
  max-height: 600;
  color: #333;
}